/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background: #0a0f23;
  color: white;
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
.page-header {
  background: url(../img/background-header.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;
}

@media (min-width: 992px) {
  .page-header {
    height: 790px;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 71px 30px 213px;
}

nav a {
  font-size: 19px;
  color: #fff;
  text-decoration-line: none;
  border-bottom: 1px solid #00d8d0;
}

@media (min-width: 992px) {
  nav a {
    font-size: 28px;
  }
}

h1 {
  text-align: center;
  font-size: 83px;
  letter-spacing: -4.15px;
  margin-top: -25px;
}

h1,
h2,
h4 {
  font-weight: 400;
}

@media (min-width: 992px) {
  h1 {
    font-size: 154px;
    letter-spacing: -7.7px;
    margin-top: -70px;
    margin-bottom: 5px;
  }
}

header p {
  text-align: center;
  font-size: 18px;
  margin-top: -10px;
}

@media (min-width: 992px) {
  header p {
    font-size: 33px;
    line-height: 0;
  }
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
main {
  margin: 0 30px;
}

@media (min-width: 992px) {
  main {
    margin: 0 150px;
  }
}

h2 {
  font-size: 24px;
  color: #00d8d0;
  margin-top: 85px;
}

@media (min-width: 992px) {
  .about h2 {
    margin-top: 155px;
  }
}

.about img {
  margin-top: 50px;
  width: 100%;
}

@media (min-width: 992px) {
  .first-img {
    margin-bottom: 140px;
    margin-left: 162px;
  }
}
.about p {
  padding-top: 55px;
  font-size: 17px;
  line-height: 25px; /* 147.059% */
}

@media (min-width: 992px) {
  .about p {
    font-size: 25px;
    line-height: 140%; /* 35px */
    padding-top: 136px;
  }
}

@media (min-width: 992px) {
  .title-dish {
    margin-top: 210px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 40px 0 20px;
}

@media (min-width: 992px) {
  h3 {
    font-size: 36px;
    margin: 25px 0 40px;
  }
}

.container {
  margin-top: 60px;
.dish img {
  margin-bottom: 22px;
}

@media (min-width: 992px) {
  .dish img {
    margin-bottom: 55px;
  }
}

h4 {
  color: #00d8d0;
  font-size: 18px;
  margin-bottom: 8px;
}

@media (min-width: 992px) {
  h4 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 17px;
  }
}

.dish p {
  font-size: 16px;
  line-height: 22px; /* 137.5% */
  margin-bottom: 65px;
}

@media (min-width: 992px) {
  .dish p {
    text-align: center;
    font-size: 20px;
    line-height: 30px; /* 150% */
    margin-bottom: 50px;
  }
}

.dish-more {
  position: relative;
}

.dish-more a {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #00d8d0;
  font-family: Poiret One;
  font-size: 23px;
  line-height: 22px;
  text-decoration: none;
}

.link-dish-more {
  border-bottom: 0.5px solid #00d8d0;
}

@media (min-width: 768px) {
  .dish-more a {
    font-size: 36px;
    line-height: 40px;
  }

  .link-dish-more {
    border-bottom: 1px solid #00d8d0;
  }
}

.button {
  border-radius: 12px;
  border: 1px solid #00d8d0;
  background: rgba(42, 53, 98, 0.39);
  margin: 25px 0 90px;
  padding: 12px;
  text-align: center;
  font-family: Poiret One;
  font-size: 20px;
}

@media (min-width: 992px) {
  .button {
    font-size: 40px;
    border-radius: 20px;
    padding: 25px 30px;
    margin: 140px 0 190px;
  }
}

.button-center {
  display: flex;
  justify-content: center;
}

footer {
  background: rgba(0, 216, 208, 0.48);
  padding-bottom: 125px;
}
}
